<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Advertise</h2>
        </div>
        <ul class="timeline">
            <li>
                <a href="../../assets/img/1.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.png" alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h5>Helps develop problem-solving skills</h5>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Coding is an excellent way to help your child think more logically. Called computational thinking, kids learn all of the steps they need to be able to solve problems and create new solutions. As we mentioned above, coding classes
                            for kids involves taking complicated problems and distilling them down to smaller, more manageable parts. That’s the way software engineers do it. But this method also translates to professions such as auto repair and laboratory
                            science, among others. Your child will even be able to take this same methodology and apply it to more creative endeavors such as writing and visual arts. Coding helps build critical problem-solving skills so your child can
                            more easily tackle school subjects like geometry, statistics, and physics. It’s also a great way to solve common, everyday problems such as managing large projects or breaking down chores or to-do lists.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.png" alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h5>Opens up more job opportunities in the future</h5>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">According to Code.org, 71% of all new STEM jobs are in computing. On the flip side, only 8% of STEM graduates have a computer science degree. That means there are plenty of jobs for the taking for those who have coding experience.
                            And if you enroll your child in coding class at a young age and they stick with it, think of how much experience they’ll have by the time they’re an adult and applying for jobs. These can be lucrative jobs, so who knows...you
                            may even get that beach house they promised you sooner than you thought.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.png" alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h5>Makes math fun. We're serious</h5>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">This is a hard one to believe…, right? However, if your child dislikes math, coding is a great way to help make it more fun. Why is that, you ask? Well, they may not even realize they’re doing it. While they’re using logical thinking
                            to solve problems, your child is also putting math into action in a practical, hands-on way. It’s like a game; they can’t move forward in the coding project until they solve the math expressions involved in the code. Gameifying
                            math with code. As parents, we’re still figuring out how to make math fun...so we may even sign up for coding classes, too...</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.png" alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h5>Expands creativity</h5>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">We’ve talked a lot about logical thinking and problem solving but coding also involves creativity and inspiration. There’s a lot of room for experimentation and creation. Coding is a language, and like other languages, it’s a great
                            form of self-expression. Kids are naturally curious and full of outside-of-the-box ideas. By enrolling your child in coding classes, they can literally take nothing and create anything their imagination allows, from apps to
                            video games to websites. There’s also a connection between coding and storytelling since they both follow a similar pattern of beginning, middle, and end. Coding is just as much about problem-solving as it is about creativity!</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/5.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/5.png" alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h5>Encourages curiosity</h5>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Curiosity is a natural part of childhood, one to be encouraged and nurtured. It helps their minds develop and grow, and their emotions to mature. As rewarding as curiosity can be, it can also end in disappointment, which...believe
                            it or not... is sometimes good for children to learn. Coding provides a safe environment for your child to learn and create, to experiment with different patterns to see where they might lead them. It allows children to ask,
                            “What happens if I do this?” Like other forms of learning such as the arts, cooking, and science, coding classes encourage curiosity, which helps your child be more confident, creative and resilient later in life.

                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h3 style="padding-top: 20%;">
                        Be a
                        <br /> Part Of
                        <br /> Us!
                    </h3>
                </div>
            </li>
        </ul>
    </div>
</section>